*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 1.5rem;
    padding:0.75rem;
    background-color: #121212;
    font-family: monospace;
    color: azure;
}

.InDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.Cont{
    margin: 0.75rem;
    padding: 0.3rem;
    text-align: center;
}
.Cont h2{
    text-decoration: 2px underline #eee;
    text-underline-offset: 5px;
}

.NuminBox{
    margin : 0.7rem auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    height: 2.4rem;
    width: 10rem;
    background-color: #cfffff;
    color: black;
}

button{
    width: 200px;
    height: 50px;
    font-size: 26px;
    background-color: #d4d4d4;
    border:5px solid #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #aaa;
}

button:active{
    background-color:#858585 ;
}

#ANS{
    color: #0f0;
}
/* .InDiv button:last-child{
    width: 415px;
    height: 50px;
} */